<div class="container">     
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-header">
                Life 
                <small>Here's what I've been up to!</small>
            </h1>

            <app-blog-item
                *ngFor="let blogEl of blogs; let i = index"
                [blog]="blogEl"
                [index] = i>
            </app-blog-item>

            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>
            <hr>
        </div>

        <app-blog-side-panel></app-blog-side-panel>

    </div>

</div>