<footer>
    <md-toolbar color="primary" class="md-scroll-shrink">
        <div class="container-fluid">
            <button md-button routerLink="/">Home</button>
            <button md-button routerLink="/projects">Projects</button>
            <button md-button routerLink="/resume">Resume</button>
            <button md-button routerLink="/blog">Blog</button>
            <button md-button routerLink="/contact">Contact</button>
            <br>
            <div class="text-center">&copy; 2017 - Kavin Aravind</div>
        </div>
    </md-toolbar>
</footer>