<md-sidenav-container fullscreen class="knowledge-container">
    <md-sidenav #sidenav mode="side" opened="true" class="knowledge-sidenav">
            <md-nav-list>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/anatonomy-physiology">Anatonomy &amp; Physiology</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/astronomy">Astronomy</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/biology">Biology</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/ecology">Ecology</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/economics">Economics</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/geography">Geography</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/history">History</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/literature">Literature</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/mathematics">Mathematics</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/music">Music</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/mythology">Mythology</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/philosophy">Philosophy</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/political-theory">Political Theory</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/religion">Religion</a>
                <a md-list-item routerLinkActive="active" routerLink="/knowledge/sociology">Sociology</a>
            </md-nav-list>
    </md-sidenav>

    <!-- primary content -->
    <div class="knowledge-sidenav-content">

        <button md-raised-button color="#263238" (click)="sidenav.toggle()">Toggle Side Drawer</button>
        
        <router-outlet></router-outlet>

    </div>

</md-sidenav-container>