<nav class="navbar navbar-expand-lg navbar-default navbar-static-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">
                <img class="img-circle d-inline-block align-top" src="../../_assets/LinkedInCoverPic.jpg" width="50" height="50" alt="">
                <img class="img-circle d-inline-block align-top" src="../../_assets/FinalResume_KavinAravind.pdf" width="0" height="0" alt="">
                <img class="img-circle d-inline-block align-top" src="../../_assets/music.mp3" width="0" height="0" alt="">                
            </a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/projects" >Projects</a></li>
                <li routerLinkActive="active"><a routerLink="/resume" >Resume</a></li>        
                <li routerLinkActive="active"><a routerLink="/blog" >Blog</a></li>
                <li routerLinkActive="active"><a routerLink="/contact" >Contact</a></li>
                <ng-template [ngIf]="isAuthenticated()">
                    <li routerLinkActive="active"><a routerLink="/career" >Career</a></li>                        
                    <li routerLinkActive="active"><a routerLink="/knowledge" >Knowledge</a></li>
                    <li routerLinkActive="active"><a routerLink="/languages" >Languages</a></li>                    
                    <li routerLinkActive="active"><a routerLink="/pictures" >Pictures</a></li>                
                    <li routerLinkActive="active"><a routerLink="/cuisine/recipes" >Cuisine</a></li>
                </ng-template>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!isAuthenticated()">
                    <li><a routerLink="/signup">Register</a></li>
                    <li><a routerLink="/signin">Login</a></li>
                </ng-template>
                <li><a
                    style="cursor: pointer;"
                    (click)="onLogout()"
                    *ngIf="isAuthenticated()">Logout</a></li>

                <li class="dropdown" appDropdown *ngIf="isAuthenticated()">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class ="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>