<md-toolbar color="primary" class="mat-elevation-z4">
    
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>

        <button md-button routerLink="/projects">Projects</button>
        <button md-button routerLink="/resume">Resume</button>
        <button md-button routerLink="/blog">Blog</button>
        <button md-button routerLink="/contact">Contact</button>

        <ng-template [ngIf]="isAuthenticated()">
            <button md-button routerLink="/career">Career</button>
            <button md-button routerLink="/knowledge">Knowledge</button>
            <button md-button routerLink="/languages">Languages</button>
            <button md-button routerLink="/pictures">Pictures</button>
            <button md-button routerLink="/cuisine/recipes">Cuisine</button>
        </ng-template>

    </div>

    <span class="fill-remaining-space"></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>

        <ng-template [ngIf]="!isAuthenticated()">
            <button md-button routerLink="/signup">Register</button>
            <button md-button routerLink="/signin">Login</button>
        </ng-template>

        <button md-button (click)="onLogout()" *ngIf="isAuthenticated()">Logout</button>

        <md-menu #appMenu="mdMenu">
            <button md-menu-item (click)="onSaveData()">Save Data</button>
            <button md-menu-item (click)="onFetchData()">Fetch Data</button>
        </md-menu>

        <button md-button [md-menu-trigger-for]="appMenu" *ngIf="isAuthenticated()">
            Manage <span class="caret"></span>
        </button>

        <button md-button routerLink="/">
            <img class="img-circle d-inline-block align-top" src="../../_assets/LinkedInCoverPic.jpg" width="50" height="50" alt="">
        </button>

    </div>

    <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
        Menu <span class="caret"></span>
    </button>

</md-toolbar>
<br>

<md-menu x-position="before" #menu="mdMenu">
    <button md-button routerLink="/projects">Projects</button>
    <button md-button routerLink="/resume">Resume</button>
    <button md-button routerLink="/blog">Blog</button>
    <button md-button routerLink="/contact">Contact</button>
    <ng-template [ngIf]="isAuthenticated()">
        <button md-button routerLink="/career">Career</button>
        <button md-button routerLink="/knowledge">Knowledge</button>
        <button md-button routerLink="/languages">Languages</button>
        <button md-button routerLink="/pictures">Pictures</button>
        <button md-button routerLink="/cuisine/recipes">Cuisine</button>
    </ng-template>
    <ng-template [ngIf]="!isAuthenticated()">
        <button md-button routerLink="/signup">Register</button>
        <button md-button routerLink="/signin">Login</button>
    </ng-template>
    <ng-template [ngIf]="isAuthenticated()">
        <button md-button (click)="onSaveData()">Save Data</button>
        <button md-button (click)="onFetchData()">Fetch Data</button>
    </ng-template>
</md-menu>