<h1 class="text-center">Portfolio</h1>
<hr>

<div class="row">
    <div class="col-md-4">
        <md-card class="example-card" (click)="openDialog()" style="cursor: pointer">
            <md-card-header>
              <md-card-title>341 Power Hour</md-card-title>
              <md-card-subtitle>Kavin Aravind, Nilanka Lord, Adithya Saikumar</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="../../_assets/PowerHour.jpg" alt="341 Power Hour">
            <md-card-content>
              <p>
                A power-hour created in Virginia Tech 
              </p>
            </md-card-content>
          </md-card>
    </div>
    <div class="col-md-4">
        <md-card class="example-card" (click)="openDialog2()" style="cursor: pointer">
            <md-card-header>
              <md-card-title>BottleUp</md-card-title>
              <md-card-subtitle>Wine Site</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="../../_assets/PowerHour.jpg" alt="Bottleup">
            <md-card-content>
              <p>
                A website for wine aficionados
              </p>
            </md-card-content>
          </md-card>
    </div>
    <div class="col-md-4">
        <md-card class="example-card" (click)="openDialog2()" style="cursor: pointer">
            <md-card-header>
              <md-card-title>BottleUp</md-card-title>
              <md-card-subtitle>Wine Site</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="../../_assets/PowerHour.jpg" alt="Bottleup">
            <md-card-content>
              <p>
                A website for wine aficionados
              </p>
            </md-card-content>
          </md-card>
    </div>
</div>